@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

#gameSpace{
    background-color: #f9f5d2;
    border-radius: 20px;
    margin: 5%;
    padding: 20px;
    box-sizing: border-box;
    justify-items: center;
}

#idiot{

    display: block;
    margin-left: auto;
    margin-right: auto;

}

#weapon, #inn{
    object-fit: cover;
    filter: drop-shadow(5px 5px 5px grey);
}

.weapon, .enemy{
    filter: drop-shadow(5px 5px 5px rgba(50,50,50,0.5));
}

#gameGrid {
    margin: 20px 20px 0px 20px;
    height: 800px;
    background-color: darkgreen;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
}

.square{
    background-color: darkseagreen;
    width: 200px;
    height: 200px;
    margin: 25px;
}


#bottombox{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    background-color: #f3eba5;
    padding: 20px 40px;
    margin: 20px;
}

.bottomContainer{
    display: flex;
    flex-direction: column;
    align-content: stretch;
}



h2{
    font-family: MedievalSharp, sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    color: darkred;
    text-align: center;
    margin: 10px auto;
    text-shadow: 0 0 5px red;
}

#statsBox {
    background-color: #b5a517;
    width: fit-content;
    max-width: 300px;
    height: 50%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    font-family: MedievalSharp, serif;
    font-size: 20px;
    box-shadow: 3px 3px 15px 2px rgb(161, 161, 161);
}

#bag {
   
    width: 90%;
    filter: drop-shadow(5px 5px 5px grey);
}

#bag:hover{
    transform: translate(3px, 3px);
    filter: drop-shadow(2px 2px 2px grey);
}

#deadBox{
    font-size: 50px;
    color: red;
}

#addButton {
    margin: 20px;
    padding: 20px;
    font-family: MedievalSharp, sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    color: darkred;
    background-image: linear-gradient(#f6f0bb,#fcfae8);
    text-align: center;
    margin: 10px auto;
    text-shadow: 0 0 5px red;
    border-radius: 40px;
}